<%= simple_form_for entry do |f| %>
  <%= f.association :category, label_method: :category,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector', data: { action: "click->entry-card#toggleCard" }},
            value_method: :id, as: :radio_buttons, legend_tag: false, boolean_style: :inline %>
  <%= f.input :theme %>
  <%= f.input :remember_date, label: "Predict the date", as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "Pick a date here" %>
  <%= f.input :comment, placeholder: 'Type your answer here...', label: false %>
  <%= f.label "Do you want this entry to be private?" %>
  <%= f.label "It will not be visible for other users in the forum" %>
  <div class="pt-2">
  <%= f.input_field :private, as: :boolean, boolean_style: :inline, as: :radio_buttons %>
  </div>
  <%= f.input :photos, as: :file, input_html: { multiple: true }, label:false%>
  <div class="two-button">
    <%= f.submit "Submit" , class: "card-button-form button-text-home"%>
    <a href="<%= entries_path %>#go-today" class="card-button-form button-text-home">Skip</a>
  </div>
<% end %>
