<%= render 'shared/navbar_lateral' %>
<div class="page-container-forum-show">
  <div class="content-container-forum-show">
    <div class="forum-show-theme">
      <h3><strong><%= params[:id] %></strong></h3>
      <p><i class="fa-solid fa-comments forum-fontawesome"></i>Forum</p>
    </div>
    <% @entries_with_theme.each do |entry| %>
      <div class="forum-entry">
        <% if !entry.private %>
          <p><%= entry.user.email %></p>
          <div class="forum-entry-principal">
            <p><%= entry.comment %></p>
          </div>
      </div>
      <% @reviews.each do |review| %>
        <% if review.entry_id == entry.id %>
          <div class="forum-comments">
            <% user_typing = User.find(review.user_id) %>
            <div class="forum-comments-email">
              <p><%= user_typing.email %>:</p>
            </div>
            <div class="forum-comments-comment">
              <p><%= review.content %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="forum-new-comment">
        <%= simple_form_for [ entry, @review ] do |f| %>
          <%= f.input :content, label: false, input_html: {class: "forum-new-comment-form"} %>
          <%= f.submit "Comment", class: "forum-new-comment-button" %>
        <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
