<%= render 'shared/navbar_lateral' %>
<div class="page-container-forum">
  <div class="content-container-forum-general">
    <div class="content-container-forum">
      <div class="title-forum">
        <h1>Welcome to the Forum!</h1>
      </div>
      <div class="forum-border-top">
        <div class="subtitle-forum d-flex">
          <h3 class="forum-title-style"><strong>Themes</strong></h3>
          <h4 class="forum-title-style"><strong>Nº of Entries</strong></h4>
        </div>
        <% entry_themes = [] %>
        <% @entries_public.each do |entry| %>
          <% entry_themes << entry.theme %>
        <% end %>
        <% entry_themes_duplicated = entry_themes.select{ |theme| entry_themes.count(theme) > 1}.uniq %>
        <% @entries_public.each do |entry| %>
          <% if !entry.private && entry_themes_duplicated.include?(entry.theme) %>
            <% entry_themes_duplicated.each_with_index do |dup, index| %>
              <% if dup == entry.theme %>
                  <% entry_themes_duplicated.delete_at(index) %>
              <% end %>
            <% end %>
            <%= link_to forum_theme_path(entry.theme) do%>
              <div class="specific-theme-count d-flex">
                <div class="forum-theme-style-principal">
                  <h4 class="forum-theme-style"><%= entry.theme %></h4><i class="fa-solid fa-comments forum-fontawesome-principal"></i>
                </div>
                <div class="forum-number-style">
                  <h4><%= Entry.where(theme:entry.theme).where(private:false).count %></h4>
                </div>
              </div>
            <% end %>
            <p class="forum-theme-style-subtext"><%= link_to "Everyone is talking about this #{entry.category.category}!", forum_theme_path(entry.theme) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
