<h1>Forum Show</h1>
<% @entries.each do |entry| %>
  <% if params[:id] == entry.theme %>
    <p><%= entry.id %></p>
    <p><%= entry.user.email %></p>
    <p><%= entry.comment %></p>
    <%# <p><%= link_to 'Leave a comment', entry_reviews_path(@entry) %>
  <%= simple_form_for [ @entry, @review ] do |f| %>
  <%= f.input :content %>
  <%= f.submit "Submit comment", class: "btn btn-primary" %>
<% end %>
    <hr>
  <% end %>
<% end %>
