<%= render 'shared/navbar_lateral' %>
<div class="page-container">
  <div class="content-container-forum-show">
    <div class="forum-show-theme">
      <h3><%= params[:id] %></h3>
      <p><i class="fa-solid fa-comments forum-fontawesome"></i>Forum</p>
    </div>
    <% @entries_with_theme.each do |entry| %>
      <div class="forum-entry">
        <% if !entry.private %>
          <p><%= entry.user.email %></p>
          <div class="forum-entry-principal">
            <p><%= entry.comment %></p>
          </div>
      </div>
      <% @reviews.each do |review| %>
      <div class="forum-comments">
        <% if review.entry_id == entry.id %>
          <% user_typing = User.find(review.user_id) %>
          <p><%= user_typing.email %>: <%= review.content %></p>
        <% end %>
      </div>
      <% end %>
      <div class="forum-new-comment">
        <%= simple_form_for [ entry, @review ] do |f| %>
          <%= f.input :content, label:"Comment", input_html: {class: "forum-new-comment-form"} %>
          <%= f.submit "Comment", class: "btn btn-primary" %>
        <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
