<%= render 'shared/navbar_lateral' %>


<!-- <h1>Hiding</h1>
<div class="container-timeline">
  <% @date_entries.each do |date, entries| %>
      <h2><%= date %></h2>
    <% entries.each do |entry| %>
      <p><%= entry.category_id %></p>
      <p><%= entry.user_id %></p>
      <p><%= current_user.email %></p>
      <h3><%= entry.theme %></h3>
      <p><%= entry.comment %></p>
      <p><%= entry.remember_date %></p>
      <p><%= entry.created_at %></p>
      <% end %>
    <%= link_to "Show", entry_path(date) %>
  <% end %>
  <% date_with_content = [] %>
  <% @date_entries.each do |date, entries| %>
    <% date_with_content << date %>
  <% end %>
  <p><%= date_with_content %></p>
</div>

<% two_year = (1 .. 365).to_a %>
<% today = Date.today %>
<% show_date = today + 365 %>
-->
<div class="container-fluid blue-bg container-timeline bg-dark" data-controller="modal-entry">
  <% date_with_content = [] %>
  <% @date_entries.each do |date, entries| %>
    <% date_with_content << date %>
    <% entries.each do |entry| %>
      <% date_with_content << entry.remember_date.strftime("%d-%b-%y") %>
      <% end %>
  <% end %>
  <p><% date_with_content %></p>
  <%# We sum + 1 so that it when it scrolls it leaves the date we want in the center of the screen and not at the top %>
  <% today_at = (Date.today + 1).strftime("%d-%b-%y") %>
  <div class="container">
    <!--first section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center bottom">
          <div><%= (Date.today + 366).strftime("%d-%b-%y") %></div>
        </div>
      </div>
    <% two_year.each do |day| %>
      <% real_show_date = show_date %>
      <% real_show_date_format = real_show_date.strftime("%d-%b-%y") %>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-2 text-center full">
          <% real_show_date  %>
          <% real_show_date_format %>
          <% if real_show_date_format == today_at%>
                <div id="go-today"></div>
          <% end %>
          <% is_there_content = "" %>
          <% date_with_content.each do |date| %>
            <% if date == real_show_date_format %>
              <% is_there_content = "rotate" %>
              <% break %>
            <% else %>
              <% next %>
            <% end %>
          <% end %>
          <a href="<%= entry_path(real_show_date_format) %>" class="circle  <%= is_there_content %>" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" data-action="click->modal-entry#getContent">
            <%= real_show_date_format %>
          </a>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top">
          <% real_show_date = show_date - 1 %>
          <% real_show_date_format = real_show_date.strftime("%d-%b-%y")%>
          <% if real_show_date_format == today_at%>
                <div id="go-today"></div>
          <% end %>
          <% is_there_content = "" %>
          <% date_with_content.each do |date| %>
            <% if date == real_show_date_format %>
              <% is_there_content = "rotate" %>
              <% break %>
            <% else %>
              <% next %>
            <% end %>
          <% end %>
          <a href="<%= entry_path(real_show_date_format) %>" class="circle  <%= is_there_content %>" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" data-action="click->modal-entry#getContent">
              <%= real_show_date_format %>
          </a>
        </div>
      </div>
      <% show_date -= 2 %>
    <% end %>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="btn-close modal-close-button" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body" data-modal-entry-target="modal">
          ...
        </div>
      </div>
    </div>
  </div>
</div>
