<%= render 'shared/navbar_lateral' %>
<div class="search-icons">
  <div class="icon">
    <%= image_tag "prediction.png", class: "prediction-logo" %>
  </div>
    <div class="icon">
    <%= image_tag "prediction.png", class: "prediction-logo" %>
  </div>
    <div class="icon">
    <%= image_tag "prediction.png", class: "prediction-logo" %>
  </div>
    <div class="icon">
    <%= image_tag "prediction.png", class: "prediction-logo" %>
  </div>
    <div class="icon">
    <%= image_tag "prediction.png", class: "prediction-logo" %>
  </div>
    <div class="icon">
    <%= image_tag "prediction.png", class: "prediction-logo" %>
  </div>
</div>



<!--<% @entries.each do |entry| %>
  <h3><%= entry.theme %></h3>
  <p><%= entry.comment %></p>
  <p><%= entry.remember_date %></p>
  <p><%= entry.created_at %></p>
  <%= link_to "Show", entry_path(entry) %>
<% end %>
