<%= render 'shared/navbar_lateral' %>

<!-- <h1>Hiding</h1>
<div class="container-timeline">
  <% @date_entries.each do |date, entries| %>
      <h2><%= date %></h2>
    <% entries.each do |entry| %>
      <p><%= entry.category_id %></p>
      <p><%= entry.user_id %></p>
      <p><%= current_user.email %></p>
      <h3><%= entry.theme %></h3>
      <p><%= entry.comment %></p>
      <p><%= entry.remember_date %></p>
      <p><%= entry.created_at %></p>
      <% end %>
    <%= link_to "Show", entry_path(date) %>
  <% end %>
  <% date_with_content = [] %>
  <% @date_entries.each do |date, entries| %>
    <% date_with_content << date %>
  <% end %>
  <p><%= date_with_content %></p>
</div>

<% two_year = (1 .. 365).to_a %>
<% today = Date.today %>
<% show_date = today + 365 %>
-->

<div class="container-fluid blue-bg container-timeline">
  <% today_at = Date.today.strftime("%d-%b-%y") %>

  <a href="#go-today" data-controller="scroll-to">Today</a>
  <div class="container">
    <!--first section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center bottom">
          <div class="circle">Future</div>
        </div>
        <%# <div class="col-6">
          <h5>Fully Responsive</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
        </div> %>
      </div>
    <% two_year.each do |day| %>
      <% real_show_date = show_date %>
      <% real_show_date_format = real_show_date.strftime("%d-%b-%y") %>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <%# <div class="col-6 text-right">
          <h5>Using Bootstrap</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
        </div> %>
      <div class="col-2 text-center full">
         <div class="circle">
            <% real_show_date  %>
            <%= real_show_date_format %>
            <% if real_show_date_format == today_at%>
              <div id="go-today">p</div>
            <% end %>
            <% date_with_content.each do |date| %>
              <% if date == real_show_date_format %>
                <%= link_to(entry_path(date)) do %>
                <p><i class="fa-solid fa-arrows-to-circle"></i></p>
                <% end %>
              <% end %>
            <% end %>
          </div>
<!--     <%# <% show_date %> %>
            <%# <%  real_show_date %> %>
            <%# <% real_show_date_format %> %>
            <%# <% date_with_content.each do |date| %> %>
              <%# <% if date == real_show_date_format %> %>
                <%# <h1 class="bg-success">helo</h1> %>
                <%# <% is_there_content = "bg-success" %> %>
                <%# <%= link_to(entry_path(date)) do %> %>
                  <%# <div class="circle <%= is_there_content %>"> %>
                    <%# <%= real_show_date_format %> %>
                  <%# </div> %>
                <%# <% end %> %>
              <%# <% end %> %>
            <%# <% end %> %>
-->
      </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top">
          <div class="circle">
            <% real_show_date = show_date - 1 %>
            <% real_show_date  %>
            <% real_show_date_format = real_show_date.strftime("%d-%b-%y") %>
            <%= real_show_date_format %>
            <% if real_show_date_format == today_at%>
              <div id="go-today"></div>
            <% end %>
            <% date_with_content.each do |date| %>
              <% if date == real_show_date_format %>
                <%= link_to(entry_path(date)) do %>
                <p><i class="fa-solid fa-arrows-to-circle"></i></p>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <%# <div class="col-6">
          <h5>Now with Pug and Sass</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
        </div> %>
      </div>
      <% show_date -= 2 %>
    <% end %>
  </div>
</div>
