<%= render 'shared/navbar_lateral' %>
<div class="page-container">
  <div class="content-container">
    <div class="search-bar">
      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search by theme"
        %>
        <%= check_box "", :category, {id: "category-prediction", checked: params[:category] == "Prediction" ? true : false}, 'Prediction', "" %>
        <label for="category-prediction"><span class="iconify" data-icon="fluent:predictions-20-regular"></span></label>
        <%= check_box "", :category, {id: "category-event", checked: params[:category] == "Event" ? true : false}, 'Event', "" %>
        <label for="category-event"><span class="iconify" data-icon="bx:party"></span></label>
        <%= check_box "", :category, {id: "category-thought", checked: params[:category] == "Thought" ? true : false}, 'Thought', "" %>
        <label for="category-thought"><span class="iconify" data-icon="fluent:thinking-24-regular"></span></label>
        <%= check_box("", :question_day, {checked: params[:question_day] == "true" ? true : false}, true, false) %>
        <label for="question_day"><span class="iconify" data-icon="fluent:calendar-question-mark-16-regular"></span></label>
      <% end %>
    </div>
    <% @entries.each do |entry| %>
      <div class="card-search">
        <div class="title-date d-flex">
          <div class="title-search"><h3><%= entry.theme %></h3></div>
          <div class="date-search d-flex">
            <p><i class="fa-solid fa-pen-to-square"></i>&nbsp<%= entry.created_at.strftime("%d-%b-%Y") %></p>
            <p><i class="fa-solid fa-calendar-check"></i>&nbsp<%= entry.remember_date.strftime("%d-%b-%Y") %></p>
          </div>
        </div>
        <div class="comment-share d-flex">
          <div class="comment-search"><%= entry.comment %></div>
          <div class="share-search"><i class="fa-solid fa-share-nodes"></i></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
