<%= render 'shared/navbar_lateral' %>
<div class="page-container-search">
  <div class="content-container-search">
      <%= form_tag search_path, class: "search-bar", method: :get do %>
        <div class="search-theme">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control-search",
            placeholder: "Search by theme"
          %>
        </div>
        <div class="search-options">
          <div class="search-icons">
            <%= check_box_tag("categories[]", "Prediction" , params[:categories].present? && params[:categories].include?("Prediction") ? true : false, onchange: 'this.form.submit()', id: "category-prediction", class: "opacity-0") %>
            <label for="category-prediction" title="Predictions"><span class="iconify" data-icon="fluent:predictions-20-regular"></span></label>
            <%= check_box_tag("categories[]", "Event", params[:categories].present? && params[:categories].include?("Event") ? true : false, onchange: 'this.form.submit()', id: "category-event", class: "opacity-0")%>
            <label for="category-event" title="Events"><span class="iconify" data-icon="bx:party"></span></label>
            <%= check_box_tag("categories[]", "Thought", params[:categories].present? && params[:categories].include?("Thought") ? true : false, onchange: 'this.form.submit()', id: "category-thought", class: "opacity-0") %>
            <label for="category-thought" title="Thoughts"><span class="iconify" data-icon="fluent:thinking-24-regular"></span></label>
            <%= check_box("", :question_day, {checked: params[:question_day] == "true" ? true : false, onchange: 'this.form.submit()', id: "question_day_search", class: "opacity-0"}, true, false) %>
            <label for="question_day_search" title="Questions of the Day"><span class="iconify" data-icon="fluent:calendar-question-mark-16-regular"></span></label>
          </div>
          <div class="search-date-bar">
            <input name="start_date" value="<%= params[:start_date] %>" onchange='this.form.submit()' class= "datepicker" id="search-date" label="Initial date" placeholder="Initial date" style=>
            <input name="end_date" value="<%= params[:end_date] %>" onchange='this.form.submit()' class= "datepicker" id="search-date" label="Final date" placeholder="Final date">
          </div>
        </div>
          <input type="submit" hidden />
      <% end %>
    <% @entries.each do |entry| %>
      <div class="card-search" id="<%= entry.id %>">
        <div class="title-date d-flex">
          <div class="title-search" title="Theme">
            <h6 title="Category"><%= entry.category.category %>&nbsp<%= "& Question of the Day" if entry.question_day %>&nbsp<%= "& Public" if !entry.private %></h6>
            <h3 title="Theme"><%= entry.theme %></h3>
          </div>
          <div class="date-search d-flex">
            <div class="myDIV"><p><i class="fa-solid fa-pen-to-square"></i>&nbsp<%= entry.created_at.strftime("%d-%b-%Y") %></p></div>
            <div class="hide">Creation Date</div>
            <div class="myDIV">
              <p><i class="fa-solid fa-calendar-check"></i>&nbsp<%= entry.remember_date.strftime("%d-%b-%Y") %></p>
            </div>
            <div class="hide">Predicted Date</div>
          </div>
        </div>
        <div class="comment-share d-flex">
          <div class="comment-search" title="Comment"><%= entry.comment %></div>
            <!-- Button trigger modal -->
            <button type="button" class="share-search button-share" data-bs-toggle="modal" data-bs-target="#exampleModal<%= entry.id %>">
              <div class="share-search" title="Share"><i class="fa-solid fa-share-nodes"></i></div>
            </button>
        </div>
        <% if entry.photos.attached? %>
          <hr>
          <div class="images-search">
            <% entry.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 60, crop: :fill %>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- Modal -->
<div class="modal fade" id="exampleModal<%= entry.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-search">
        <h5 class="modal-title" id="exampleModalLabel">Copy this text for sharing</h5>
        <button type="button" class="btn-close btn-close-search" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-body-search">
        <p><%= entry.comment %></p>
        <p>Creation Date: <%= entry.created_at.strftime("%d-%b-%Y") %></p>
        <p>Predicted Date: <%= entry.remember_date.strftime("%d-%b-%Y") %></p>
        <p>#Futurapp #<%= entry.theme.gsub(/\s+/, '') %> #<%= entry.theme.gsub(/\s+/, '') %>Futurapp</p>
      </div>
      <div class="modal-footer modal-footer-search"> </div>
       </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
