<h1>This shows date through cat ent</h1>

    <div class="card-category-show-card">
      <div class="card-category__show-topic">
        <p class="card-show-question-title">Events</p>
        <div class="card-category__show-img">
          <%= image_tag 'event.jpg' %>
        </div>
        <div class="card-category__questions">
          <p>Did something big happen today? Tell us about your event...</p>
        </div>
      </div>
      <div class="card-category__show">
        <div class="category-day-inline">
          <div class="card-text-categories-style">
            <p class="hover-line-style">Question of the day</p>
          </div>
          <div class="card-text-categories-style">
            <p><%= params[:id] %></p>
            <p class="hover-line-style">Predictions</p>
          </div>
          <div class="card-text-categories-style">
            <p><%= params[:id] %></p>
            <p class="hover-line-style">Thoughts</p>
          </div>
          <div class="card-text-categories-style">
            <p><%= params[:id] %></p>
            <p class="hover-line-style">Events</p>
          </div>
          <div class="card-text-categories-style">
            <p><%= params[:id] %></p>
            <p class="hover-line-style">Predicted</p>
          </div>
        </div>
        <hr>

<% @category_entries.each do |category, entries| %>
  <div class="show-inline-flex d-flex">
  <h1><%= category %></h1>
    <% entries.each do |entry| %>
    <div>
      <div>
        <p class="card-text-titles-style">Theme</p>
        <p class="response-text-user response-text-user-margin"><%= entry.theme %></p>
      </div>
      <div>
          <div class="margin-dates-show d-flex">
            <div>
              <p class="card-text-dates-style"><i class="fa-solid fa-pen-to-square"></i>&nbsp&nbsp<%= entry.created_at.strftime("%d-%b-%Y") %></p>
              <p class="card-text-dates-style"><i class="fa-solid fa-calendar-check"></i>&nbsp&nbsp<%= entry.remember_date.strftime("%d-%b-%Y") %></p>
            </div>
            <div class="response-icon-share">
              <i class="fa-solid fa-share-nodes"></i>
            </div>
          </div>
      </div>
    </div>
      <hr>
    <% end %>
  </div>
<% end %>

            <%# <button class="card-button-show button-text"> Share</button> %>
            <%= link_to new_entry_path do %>
              <button class="card-button-add-show button-text">Add new</button>
            <% end %>
