<div class="d-flex flex-column lateral-navbar min-vh-100" style="width: 4.5rem;">
    <a href="<%= root_path %>" class="link-dark text-decoration-none" title="Go to the Homepage" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
      <%= image_tag "orangefuturapp_white.png", alt: "Logo", class: "menu-icons" %>
      <span class="visually-hidden">Icon-only</span>
    </a>
      <div class="nav-item">
        <a href="<%= entries_path %>#go-today" class="nav-link py-3" aria-current="page" title="Go to your Timeline" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
          <i class="fa-solid fa-timeline menu-icons icons"></i>
        </a>
      </div>
      <div>
        <a href="<%= search_path %>" class="nav-link py-3" title="Find your Timecapsules" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
          <i class="fa-solid fa-magnifying-glass menu-icons icons"></i>
        </a>
      </div>
      <div>
        <a href="<%= forum_path %>" class="nav-link py-3" title="Check Out the Forum" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
          <i class="fa-solid fa-comments"></i>
          <%#= image_tag "today_icon.png", alt: "Today card", class: "menu-icons icons" %>
        </a>
      </div>
      <div>
        <%# <a href="" class="nav-link py-3" title="Write a New Entry" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
          <i class="fa-solid fa-circle-plus menu-icons icons"></i>
        </a> %>
        <!-- Button trigger modal -->
        <button data-bs-toggle="modal" data-bs-target="#newEntryModal" class="button-navbar-remove" title="Write a New Entry">
          <i class="fa-solid fa-circle-plus menu-icons icons"></i>
        </button>


      </div>
    <div class="dropdown">
      <a href="<%= profile_path %>" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle menu-icons" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag "profile_picture.jpg", alt: "Profile picture", class: "rounded-circle menu-icons profile-picture"%>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item text-dark"%></li>
      </ul>
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="newEntryModal" tabindex="-1" aria-labelledby="newEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="btn-close modal-close-button" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body">
          <%= render "entries/new_card" %>
        </div>
      </div>
    </div>
  </div>
