<div class= "navbar">
  <div class="logo-navbar">
    <%= image_tag "orangefuturapp_white.png", class: "logo-image" %>
  </div>
  <div class="futurapp-title-navbar">
    <h1>Futurapp</h1>
  </div>
 <div class="profile-info-navbar">
    <%= image_tag "profile_picture.jpg", class: "profile-image" %>
    <span><%= current_user.username %></span>
  </div>
   <!--<div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
            <li class="nav-item active navbar-height-fit d-flex">
              <span><%= current_user.email %></span>
            </li>
              <%= image_tag "profile_picture.jpg", class: "profile-image dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My profile", profile_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
</div>-->
