<div class="page-container page-container-home d-flex">
  <div class="banner-home d-flex">
    <%= image_tag "logo.png" %>
    <div class="title-home">
      <h1>FUTURAPP</h1>
    </div>
    <div class="subtitle-home">
      <span data-controller="typed-js"></span>
    </div>
    <div class="btn-home">
      <a href="#awesome-stuff-here" data-controller="scroll-to">Answer Question of the Day</a>
    </div>
  </div>
  <div class="col-5">
    <div class="card-category-new-form" id="awesome-stuff-here">
      <div class="card-category__topic-question-day">
        <div class="card-category__img-question-day">
          <%  if @question_day.photo.attached? %>
            <%= image_tag @question_day.photo %>
          <% else %>
            <%= image_tag 'mars2.jpg' %>
          <% end %>
        </div>
        <div class="card-category__questions-question-day">
          <div class="card-question-title-question-day">Question of the Day</div>
          <p><%= @question_day.question %></p>
        </div>
      </div>
      <div class="card-category__form-question-day">
        <%= render 'entries/home_form', entry: @entry || Entry.new %>
      </div>
    </div>
  </div>
</div>
